{% extends 'base.html.twig' %}

{% block title %}Category #{{ Category.name }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ category.name }}</h1>
        </div>
    </div>
    <a href="{{ path('category_index') }}">
        Retour à la liste des category
    </a>
 {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
{% endblock %}